@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/img/bg.jpg);
    background-position: center center;
    background-size: max(1200, 100vw);
    background-repeat: no-repeat;
    position: relative;
    height: 70vh;
}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
}

nav {
    font-family: "Martel Sans", sans-serif;
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(48, 48, 48);
    height: 7px;
    position: relative;
    z-index: 20;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 3px 8px;
    background-color: rgba(255, 255, 255, 0.156);
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 400;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    color: white;
    padding: 7px 100px 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 900;
}

.first {
    max-width: 70vw;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.secImg {
    position: relative;
}

.secImg img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.secImg video {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60vw;
    margin: 15px auto;
    cursor: pointer;
    font-size: 24px;
}

.faqbox:hover {
    transition: all 0.1s ease-in;
    background-color: #414141;
}

.btn-style {
    color: white;
    padding: 7px 100px 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 900;
}

.center {
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 20px 0;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width : 1200px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 20px;
    }

    .footer-item {
        align-items: center;
    }

    .secImg img {
        width: 300px;
        top: 4px;
    }

    .secImg video {
        width: 221px;
        right: 40px;
        top: 60px;

    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 15px;
    }
    
    .hero> :nth-child(3) {
        font-size: 15px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .faq h2 {
        font-size: 32px;
    }

    .faqbox {
        padding: 15px;
        font-size: 19px;
        max-width: 80vw;
    }

    .center {
        font-size: 17px;
    }

    .btn-style {
        padding: 7px 50px 8px 14px;
        border-radius: 0px;
        font-size: 10px;
    }

    footer {
        max-width: 90vw;
    }

    .first {
        max-width: 93vw;
    }

    .first>div :nth-child(1) {
        font-size: 40px;
        text-align: center;
        padding: 10px 0;
    }

    .first>div :nth-child(2) {
        font-size: 20px;
        text-align: center;
    }
}